
params {
    input                           = "${projectDir}/assets/cg_test_samplesheet.csv"
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease'
    skip_tools                      = null
    fasta                           = params.pipelines_testdata_base_path + '/reference/reference.fasta'
    genome                          = 'GRCh37'
    bai                             = null
    bait_intervals                  = params.pipelines_testdata_base_path + '/reference/target.bed'
     // sample.prep.equal WES ? wes_bait_file : myeloid_file
    target_intervals                = params.bait_intervals
}

process {

    // Add resource limit as this machine doesn't have the resources required for process_medium and higher
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    
    withName: PICARD_COLLECTHSMETRICS {
        ext.args = { [
            "--COVERAGE_CAP 50000",
            "--METRIC_ACCUMULATION_LEVEL ALL_READS"
			].join(' ') }

    }

}
